<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lee" class="com.test04.Emp">
		<property name="name" value="이소현" />
		<property name="salary" value="3000000" />
	</bean>
	
	<bean id="kim" class="com.test04.Emp">
		<property name="name" value="김동희" />
		<property name="salary" value="2500000" />
	</bean>
	
	
	<bean id = "leesh" class="com.test04.Developer">
		<constructor-arg index="0" ref="lee"></constructor-arg>
		<constructor-arg index="1" value="개발"></constructor-arg>
	</bean>

	<bean id="kimdh" class="com.test04.Engineer">
		<constructor-arg index="0" ref="kim" />
		<constructor-arg index="1" value="기술"/>
	</bean>
	
</beans>
